{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Se connecter</title>

    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

<div class="main">
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-image">
                    <a href="registration/signup.html" class="signup-image-link">Créer un compte</a>
                </div>
                <div class="signin-form">
                    <h2 class="form-title">Se connecter</h2>
                    <form method="POST" class="register-form" id="login-form">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit">Log In</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>












</div>
</body>
</html>